# all ignore
*

# not ignore all directory
!*/

# not ignore
!.gitconfig
!.gitignore
!init.sh
!bash/.bash_profile
!bash/.bashrc
!bash/.git-completion
!bash/.git-prompt.sh
!starship/starship.toml
!vim/.vimrc
!vim/dein.toml
!vim/dein_lazy.toml

# ignore sub directory
vim/.cache/
vim/.vim/

